body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)), url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#container {
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#about, #contactUs {
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.links {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links a {
  margin-bottom: 10px;
}

.logo{
  height: auto;
  width: auto;
  max-height: 50px;
}

.img-thumbnail {
  background-color: transparent;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.navbar {
  background: rgba(0, 0, 0, 0.75) !important;
}

.navbar-nav {
  margin: 0 auto;
}

a, #search, p, span, h2, h3, h4, h5{
  color: white !important;
}

.dropdown-menu {
  background: rgba(0, 0, 0, 0.75) !important;
  overflow-y:scroll;
  max-height:200px;
}

.navbar-toggler-icon {
  border-radius: 15%;
  border: solid white;
  background-color: white !important;
}

.aboutUs {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  align-content: center; 
  text-align: center;
  border-radius: 5%;
}

.contactTitle {
  margin-bottom: 30px;
}

#websiteLogo {
  margin-bottom: 30px;
}

.producerImg {
  width: 70px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.col, [class*="col-"] {
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
}

.relatedMovie {
  text-align: center;
  font-weight: bolder;
}

.movieImg, .relatedImg, .actorPicture, .movie-prod-logo{
  width: 100%;
}

.actorPageImage, .moviePageImage, #movie-backdrop, .searchImage {
  width: 100%;
  border-radius: 10%;
}

@media screen and (max-width: 768px){
  .searchImage, .movieImg, .movie-prod-logo, .AllImages{
    width: 85% !important;
  }
  .actorPicture, .relatedImg{
    width: 80% !important;
  }
  .moviePageImage, .actorPageImage {
    width: 73% !important;
  }
  #movie-backdrop {
    width: 50% !important;
  }
  .producerImg {
    width: 60px;
  }
  a, #search, p, span, h2, h3, h4, h5{
    padding: 0 10%;
  }
  .felxRow, .felxRow a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .links {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .links a {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 991px){
  .felxRow, .felxRow a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

.contactContainer div h4{
  margin-bottom: 10%;
}

.contactContainer div .row{
  margin: 0;
  padding: 0;
}

.AllImages, .img-thumbnail {
  border: solid #28a745 4px !important;
  border-radius: 10% !important;
}

#movie-overview, #actorBiography {
  text-align: left;
}

.dropdown-item:hover {
  background-color: #28a745;
  border-radius: 10px;
}

.hoverOverState {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 7%;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3));
  border-radius: 10%;
  width: 85%;
  height: 85%;
  font-weight: bolder;
  font-style: italic;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.25s;
}

.hoverOverState:hover {
  opacity: 1;
}